@import url('https://fonts.googleapis.com/css?family=Orbitron');

@font-face {
  font-family: 'digital';
  src: url('./assets/DS-DIGI.TTF');
}

html{
  background-color: #3F7D20;
  color: #F3EFF5;
}

.App{
  font-family: 'digital', sans-serif;
}
